<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/style.css">
 <title>Posts</title>
</head>
<body>
 <h1>Posts page</h1>
 <%- include('./partials/nav.ejs') %>
 <div class="posts list">
 <h2>All posts</h2>
 <% if (posts.length > 0) { %>
 <% posts.forEach(post => { %>
 <a class="singlepost" href="/singlepost/<%= post.id %>">
 <h3 class="title">
 <%= post.title %>
 </h3>
 <p class="body">
 <%= post.body %>
 </p>
 </a>
 <% }) %>
 <% } else { %>
 <p>You did not post anything...</p>
 <% } %>
 </div>
 <%- include('./partials/footer.ejs') %>
</body>
</html>
